body {
  font-family: <link rel= 'preconnect' href= 'https://fonts.googleapis.com' >
      <link rel= 'preconnect' href= 'https://fonts.gstatic.com' crossorigin>
      <link href=
      'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&display=swap'
      rel= 'stylesheet' >,
    sans-serif;
  color: #2e2f42;
  background-color: #e7e9fc;
}
